<h2><%= t ".edit" %> <%= resource_name.to_s.humanize %></h2>
<%= resource.email %>
<% if resource.avatar.attached? %>
  <%= image_tag resource.avatar, width: 110 %>
<% end %>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :phone %><br />
    <%= f.text_field :phone, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :location %><br />
    <%= f.text_field :location, autofocus: true %>
  </div>

  <div class="field">

    <%= f.label :avatar %><br />
    <%= f.file_field :avatar %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div><%= t ".currently_waiting_confirmation_for" %> <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :password %> <i><%= t ".leave_blank_if_no_changes" %></i><br />
    <%= f.password_field :password %>
    <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %> <%= t ".characters_min"%></em>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation %>
  </div>

  <div class="field">
    <%= f.label :current_password %> <i><%= t ".need_current_pass" %></i><br />
    <%= f.password_field :current_password %>
  </div>

  <div class="actions">
    <%= f.submit t(".update") %>
  </div>
<% end %>

<h3><%= t ".cancel_acc" %></h3>

<p><%= t ".unhappy?" %> <%= button_to t(".cancel_acc"), registration_path(resource_name), data: { confirm: I18n.t("photographers.registrations.edit.sure?") }, method: :delete %></p>

<%= link_to t(".back"), :back %>
