<div class="container">
  <div class="list-group">
    <% posts.each do |post| %>
      <div class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1"><%= post.title %></h5>
          <small>
            <%= render partial: "request_form", locals: {post: post, apply_post: apply_post} %>
          </small>
        </div>
        <p class="mb-1"><%= t ".hourly_rate" %><b><%= post.hourly_rate %></b></p>
        <p class="mb-1"><%= t ".location" %><b><%= post.location %></b></p>
        <p class="mb-1"><%= t ".hire_date" %><b><%= post.hire_date %></b></p>
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1"></h5>
          <small><%= time_ago_in_words(post.created_at) %><%= t ".ago" %></small>
        </div>
      </div>
    <% end %>
</div>
<%== pagy_bootstrap_nav(pagy) %>
